@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}
:root{
    --primary-color:#ff8882;
    --black-color:#0e2431;
    --white-color:#fff;
    --half-white:#f0f8ff;
}
.dark-theme{
    --primary-color: #ff8882;
    --black-color: #fff;
    --white-color: #000;
    --half-white:#000;
}

body {
    font-family: 'Ubuntu', sans-serif ;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track {
     background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
     background-color: var(--primary-color);
     border-radius: 12px;
     transform: all 0.3s ease;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
}
/* nav bar */
.logo > h2{
    color: var(--black-color);
}
nav{
    position: fixed;
    width: 100%;
    padding: 20px 0;
    z-index: 999;
    transition: all 0.3s ease;
}
nav.sticky{
    background: var(--primary-color);
    padding: 13px 0;
} 
nav .navbar{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
nav .navbar .logo a{
    font-weight: 500;
    font-size: 38px;
    color: var(--primary-color);
}
nav.sticky .navbar .logo a{
    color: var(--white-color);
}
nav .navbar .menu{
    display: flex;
    position: relative;
    padding-top: 10px;
}
nav .navbar .menu li{
    list-style: none;
    margin: 0 8px;
}
nav .navbar .menu a{
    font-size: 18px;
    font-weight: 500;
    color: var(--black-color);
    padding: 6px 0;
    transform: all 0.4s ease;
    text-decoration: none;

}
.navbar .menu a:hover{
    color: var(--primary-color);
}
nav.sticky .menu a{
    color: var(--white-color);
}
nav.sticky .menu a:hover{
    color: var(--black-color);
}
.navbar .media-icon a{
    color: var(--primary-color);
    font-size: 18px;
    margin: 0 6px;
}
nav.sticky .media-icon a{
    color: var(--white-color);
}
nav .menu-btn,
.navbar .menu .cancel-btn{
    position: absolute;
    color: var(--white-color);
    right: 30px;
    top: 20px;
    font-size: 20px;
    cursor: pointer;
    display: none;
    transition: all 0.3s ease ;
}
nav .menu-btn{
    color: var(--primary-color);
}
nav.sticky .menu-btn{
    color: var(--white-color);
}
.navbar .menu .menu-btn{
    color: var(--white-color);
}
.logo{
align-items: left;}
/* Dark Btn*/
#dark-btn{
    position: absolute;
    top: 20px;
    right: 60px;
    background: #ccc;
    width: 45px;
    border-radius: 15px;
    padding: 2px 3px;
    cursor: pointer;
    display: flex;
    transition: padding-left 0.5s, background 0.5s;
}
#dark-btn span{
    width: 18px;
    height: 18px;
    background: #fff;
    border-radius: 50%;
    display: inline-block;
}
#dark-btn.dark-btn-on{
    padding-left: 23px;
    background: #0a0a0a;
}
/*home section css*/
.home{
    height: 100vh;
    width: 100%;
    background: url(logo.png) no-repeat;
    background-size: 280px;
    background-position: 93%;
    background-attachment: fixed;
    background-color: var(--white-color);
}
.home .home-content{
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.home .text-one{
    font-size: 25px;
    color: var(--black-color);
}
.home .text-two{
    font-size: 75px;
    color: var(--black-color);
    font-weight: 600;
    margin-left: -3px;
}
.home .text-three{
    font-size: 35px;
    color:var(--primary-color);
    margin: 5px 0;
}
.home .text-four{
    font-size: 23px;
    color: var(--black-color);
    margin: 5px 0;
}
.home .button{
    margin: 14px 0;
}
.home .button button{
    outline: none;
    padding: 8px 16px;
    border-radius: 6;
    font-size: 20px;
    font-weight: 400;
    background: var(--primary-color);
    color: var(--white-color);
    cursor: pointer;
    transition: all 0.4s ease;
    border: 2px solid transparent;
}
.home .button button:hover{
    border-color: var(--primary-color);
    background-color: var(--white-color);
    color: var(--primary-color);
}
/*about section css*/

section{
    padding-top: 40px;
    background-color: var(--white-color);
}
section .content{
    width: 80%;
    margin: 40px auto;
    font-family: 'poppins', sans-serif;
}
.about .about-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section .tittle{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
span.des:hover{
    color: #ff8882;
}
section .tittle span{
    color: var(--black-color);
    font-size: 30px;
    font-weight: 600;
    position: relative;
    padding-bottom: 8px;
}
section .tittle span::before,
section .tittle span::after{
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    background: var(--primary-color);
    left: 0;
    bottom: 0;
} 
section .tittle span::after{
    bottom: -7px;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
}
.about .about-details .left{
    width: 45%;
}
.about .about-details img{
    height: 400px;
    width: 320px;
    object-fit: cover;
    position: 25%;
    border-radius: 12px;
}
.about .about-details .right{
    width: 55%;
    
}
section .topic{
    color: var(--black-color);
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}
.about-details .right p{
    text-align: justify;
    color: var(--black-color);
    
}
section .button{
    margin: 16px 0;
}
section .button button{
    padding: 8px 16px;
    outline: none;
    border-radius: 4px;
    font-size: 25px;
    font-weight: 400;
    background: var(--primary-color);
    color: var(--white-color);
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 0.4s ease;
    border: 1px solid white;

}
.btn-a{
    color: var(--white-color);
    text-decoration: none;
}
.btn-a:hover{
    color: var(--primary-color);
    text-decoration: none;
}
section .button button:hover{
    border-color: var(--primary-color);
    background-color: var(--white-color);
    color: var(--primary-color);
}
/*skills section css*/

.skills{
    background: var(--half-white);
}
.skills .content{
    padding: 40px 0;
}
.skills .skills-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.skills-details .text{
    width: 50%;
}
.skills-details p{
    color: var(--black-color);
    text-align: justify;
}
.skills .skills-details .experience{
    display: flex;
    align-items: center;
    margin: 0 10px;
}
.skills-details .experience .num{
    color: var(--black-color);
    font-size: 80px;
}
.skills-details .experience .exp{
    color: var(--black-color);
    margin-left: 20px;
    font-size: 18px;
    font-weight: 500;
    margin: 0 6px;
}
.skills-details .boxex{
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.skills-details .box{
    height: 30% !important;
    width: calc(100% / 2 - 20px);
    margin: 20px 0;
}
.skills-details .boxex .topic{
    font-size: 20px;
    color: var(--primary-color);
}
.skills-details .boxex .per{
    font-size: 60px;
    color: var(--primary-color);
}
/* Services section css*/
.services .boxex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.services .boxex .box{
    margin: 20px 0;
    width: calc(100% / 2 - 20px);
    text-align: center;
    border-radius: 12px;
    padding: 30px 10px;
    box-shadow: 0 5px 10px var(--primary-color);
    cursor: default;
    transition: all 0.4s ease;
}
.services .boxex .box:hover{
    background: var(--primary-color);
}
.services .boxex .box .icon{
    height: 50px;
    width: 50px;
    background: var(--primary-color);
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 10px;
    color: var(--white-color);
    margin: 0 auto 10px auto;
    transition: all 0.4s ease;
}
.boxex .box:hover .icon{
    background: var(--white-color);
    color: var(--primary-color);
}
.services .boxex .box:hover .topic,
.services .boxex .box:hover p{
    color: var(--white-color);
    transition: all 0.4s ease;
}
.services .boxex .box p{
    color: var(--black-color);
}
/*conrect section css*/
.contact{
    background-color: var(--half-white);
    text-decoration: none;
}
.contact .content{
    margin: 0 auto;
    padding: 30px 0;
}
.link:hover{
    color: blue;
}
.link{
    color: var(--black-color);
}
.contact .text{
    width: 80%;
    text-align: center;
    margin: auto;
}
/*Footer section css*/
footer{
    background: var(--primary-color);
    padding: 15px 0;
    text-align: center;
    font-family: 'poppins' sans-serif;
}
footer .text span{
    font-size: 17px;
    font-weight: 400px;
    color: var(--white-color);
}
footer .text span a{
    text-decoration: none;
    font-weight: 500px;
    color: var(--white-color);
}
footer .text span a:hover{
    text-decoration: underline;
}


/*scroll css*/
.scroll-button a{
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: var(--white-color);
    background: var(--primary-color);
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 6px;
    box-shadow: rgba(0,0,0,0.15);
    display: none;
}
/*responsive media */
@media all and (max-width:1190px){
    section.content{
        width: 85%;
    }
}
@media all and (max-width:1000px){
   
    .about .about-details{
        justify-content: center;
        flex-direction: column;
    }
    .about .about-details .left{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .about .about-details .right{
        width: 90%;
        margin: 40px 0;
    }
    .services .boxex .box{
        margin: 20px 0;
        width: calc(100% / 2 - 20px);
    }
}
@media(max-width:900px){
   
    .about .left img{
      height: 350px;
      width: 350px; 
    }
}
@media all and (max-width:750px){
    
    nav .navbar{
        width: 90%;
    }
    nav .navbar .menu{
        position: fixed;
        left:-100%;
        top: 0;
        background: var(--primary-color);
        height: 100vh;
        max-width: 400px;
        width: 100%;
        padding-top: 60px;
        flex-direction: column;
        align-items: center;
        transition: all 0.5s ease;
    }
    .navbar.active .menu{
        left: 0;
    }
    nav .navbar .active a{
        font-size: 23px;
        color: var(--white-color);
        display: block;
        margin: 10px 0;
    }
    nav.sticky .menu a:hover{
        color: var(--primary-color);
    }
    nav .navbar .media-icon{
        display: none;
    }
    nav .menu-btn,
    .navbar .menu .cancel-btn{
        display: block;
    }
    .home .text-two{
        font-size: 65px;
    }
    .home .text-three{
        font-size: 35px;
    }
    .skills .skills-details{
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .skills-details .text{
        width: 100%;
        margin-bottom: 50px;
    }
    .skills-details .boxex{
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .services .boxex .box{
        margin: 20px 0;
        width: 100%;
    }
    .contact .text{
        width: 100%;
    }
}
@media all and (max-width:500px),(min-width:320px){
    
    .home{
        width: 100%;
        overflow: hidden;
    }
    .home .text-two{
        font-size: 55px;
    }
    .home .text-three{
        font-size: 20px;        
    }
    .skills-details .boxex .per{
        font-size: 50px;
        color: var(--primary-color);
    }
}